# dependencies
frontend/node_modules/
backend/venv/
backend/venv310/
backend/__pycache__/
Pipfile
Pipfile.lock

# uploaded files (if you don't want to track them)
backend/uploads/

# misc
.DS_Store
*.log*
*.pyc
*.pyo
.vscode/
dwsync.xml

# environment files
backend/config/.env
frontend/.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# production
frontend/build/
