[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elevenlabs = "*"
flask = "*"
flask-cors = "*"
openai = "*"
python-dotenv = "*"
speechrecognition = "*"
flask-socketio = "*"
websockets = "*"
transformers = "*"
requests = "*"
pinecone-client = "*"
better-profanity = "*"
nltk = "*"
pyaudio = "*"
pytchat = "*"
simple-websocket = "*"
google-cloud-texttospeech = "*"

[dev-packages]

[requires]
python_version = "3.11"
