/* ==========================================================================
   Modals
   ========================================================================== */

.overlay.show {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.overlay {
  display: none;
}


/* ==========================================================================
   Soundwave
   ========================================================================== */

.sound-wave {
  border-bottom: 1px solid #ddd;
  height: 55px;
  width: 100%;
}

.sound-wave.visible {
  display: block;
}

.sound-wave.hidden {
  display: none;
}


/* ==========================================================================
   Chat Panel
   ========================================================================== */

.chat-panel,
.chat-interface {
  height: 100vh;
}

.chat-panel {
  text-align: center;
}

.chat-header {
  background-color: #f1f1f1;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.profile-img {
  background-color: #333;
  border-radius: 50%;
  height: 3rem;
  margin-right: 0.5rem;
  width: 3rem;
}

.ai-name {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.ai-status {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.ellipsis {
  display: inline-block;
  width: 12px;
  height: 1em;
  position: relative;
  vertical-align: bottom;
}

.ellipsis::before {
  content: ".";
  animation: ellipsis 1.5s steps(5, end) infinite;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
}

@keyframes ellipsis {
  0%, 100% {
    content: ".";
  }
  20% {
    content: "..";
  }
  40% {
    content: "...";
  }
  60% {
    content: "....";
  }
  80% {
    content: ".....";
  }
}

.chat-log {
  padding: 0 0.5rem;
}

.chat-log .chat-entry {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.chat-log .chat-entry p {
  margin: 0;
}

.chat-log .chat-entry.assistant {
  text-align: left;
}

.chat-log .chat-entry.system {
  text-align: center;
}

.chat-log .chat-entry.user {
  text-align: right;
}

.chat-log .chat-entry.assistant .chat-entry__bubble,
.chat-log .chat-entry.system .chat-entry__bubble,
.chat-log .chat-entry.user .chat-entry__bubble {
  border-radius: 1rem;
  display: inline-block;
  font-size: 0.875rem;
  max-width: 75%;
  padding: 0.5rem 0.75rem;
  text-align: left;
}

.chat-log .chat-entry.assistant .chat-entry__bubble {
  background-color: #ddd;
  margin-right: auto;
}

.chat-log .chat-entry.system .chat-entry__bubble {
  border-radius: 0.5rem;
  color: #777;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}

.chat-log .chat-entry.user .chat-entry__bubble {
  background-color: #6610F2;
  color: #fff;
  margin-left: auto;
}

.chat-footer__input {
  border: 1px solid #ddd;
  border-bottom: 4px solid #ddd;
  border-radius: 0.375rem;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
  text-align: left;
}

.chat-footer__input .input-group {
  background-color: #f1f1f1;
  padding: 0.5rem;
}

.chat-footer__input:has(.input-group .form-control:focus),
.chat-footer__input:has(.chat-footer__upload-image-badge) {
  border-bottom: 4px solid #6610F2;
}

.chat-footer__input .input-group .form-control {
  background-color: #fff;
  border: none;
  border-radius: 50px !important;
  box-shadow: none;
}

.chat-footer__input .input-group .form-control:focus {
  outline: none;
}

.chat-footer__upload-image-badge {
  background-color: #f1f1f1;
  border-top: 1px solid #ddd;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  padding: 0.75rem;
}

.badge {
  max-width: 100%;
  min-width: 224px;
  padding: 0.5rem;
}

button.close {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  list-style: 1;
}

.chat-footer__uploaded-image {
  border-radius: 0.375rem;
  height: 50px;
  width: 50px;
}

.chat-footer__uploaded-image img {
  border-radius: 0.375rem;
  height: 100%;
  object-fit: cover;
  width: 100%;  
}

.chat-input__badge-content,
.chat-input__file-name {
  max-width: calc(100% - 4rem);
}

.chat-header__top {
  background-color: #f1f1f1;
  padding-top: 1rem;
}

.chat-header__top {
  background-color: #6c757d;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}


/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  border-radius: 50px;
  height: 40px;
}

.btn.listen-btn,
.btn.settings-update-btn {
  background-color: #6610F2;
  border-color: #6610F2;
}

.btn.listen-btn {
  padding: 1rem 1.5rem;
  height: auto;
}

.btn-light,
.btn-light:disabled {
  border: none;
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
}

.btn-light {
  background-color: #fff;
}

.btn-light:disabled {
  color: #999;
}

.btn-light.send-btn {
  color: #6610F2;
}

.btn-light:hover,
.btn-light:focus {
  color: #3d0894;
}

.btn.dropdown-toggle {
  border-radius: 50%;
  height: 32px;
  font-size: 0.75rem;
  font-weight: 600;
}

.btn.dropdown-toggle i {
  margin-right: 0.5rem;
}

.btn.listen-btn:hover,
.btn.listen-btn:focus,
.btn.settings-update-btn:hover,
.btn.settings-update-btn:focus {
  background-color: #3d0894;
  border-color: #3d0894;
}


/* ==========================================================================
   Settings Panel
   ========================================================================== */

.settings-panel {
  background-color: #3d0894;
  border-right: 1px solid #ddd;
}

@media (min-width: 768px) {
  .settings-panel {
    height: 100vh;
    overflow-y: auto;
  }
}

.settings-panel h2 {
  color: #fff;
}

.settings-panel-content {
  height: 100%;
  padding: 2rem 0 0;
  text-align: left;
}

.settings-panel-content__tabs {
  background-color: #6610F2;
  padding: 0.5rem 0 0;
}

.settings-panel-content__tabs .nav-tabs {
  border-bottom: none;
}

.settings-panel-content__tabs .nav-item {
  margin-bottom: 0.5rem;
}

.settings-panel-content__tabs .nav-link {
  border-radius: 0.375rem;
  color: #fff;
  font-weight: 600;
}

@media (min-width: 992px) {
  .settings-panel-content__tabs {
    padding: 0.5rem 0 0;
  }

  .settings-panel-content__tabs .nav-item {
    margin-bottom: 0;
  }

  .settings-panel-content__tabs .nav-link {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.settings-panel-content__tab-content {
  background-color: #fff;
  padding: 2rem 0;
}

@media (min-width: 768px) {
  .settings-panel-content__tab-content {
    height: calc(100% - 6.5rem);
    overflow-y: auto;
  }
}

.settings-panel-content__form-item .form-range {
  border: none;
  height: 38px;
}

.settings-panel-content__form-item {
  margin-bottom: 2rem;
}

.settings-panel-content__tabs .nav-fill {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.settings-panel-content__tabs .nav-fill .nav-item {
  display: inline-block !important;
}

.toast {
  font-weight: 600;
  top: 50px;
}
